{# _tumblr-mass-editor/templates/layout.html_ #}

<!DOCTYPE html>
<html>
<head>
  <title> {% block title %}{% endblock %} | Tumblr Mass Editor </title>

  <!--Meta-->
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta name="description" content="A project for the COMS W3101 Class @ Columbia University">
  <link rel="icon" href="img/favicon.ico">
  <!-- TODO: use static files here for favicon -->
  
  <!-- CSS-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>
</head>
<body>
  {% block body %}
    <h1> Tumblr Python Web App </h1>
  {% endblock %}
</body>

<!-- JS -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
